* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

body {
    overflow: hidden;
}

.hero-header {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #0a192f;
}

.wrapper {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo i {
    height: 45px;
    width: 45px;
    color: #52cbbf;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}

/* * {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background: #0a192f;
}

.navbar {
    font-family: "Roboto", sans-serif;
    transition: all 0.3s ease-in-out;
    font-size: 1.1rem;
}

.nav-link {
    position: relative;
    transition: all 0.3s ease;
    
}

.nav-link:hover {
    color: #64ffda !important;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #64ffda;
    transition: width 0.3s;

}

.nav-link:hover::after {
    width: 100%;
}

.navbar-brand span {
    font-size: 1.5rem;
}
  
.navbar-toggler {
    border: none;
}
  
.hero-section {
    height: auto;
    margin-top: 50px;
    color: white;
    display: flex;
    align-items: center;
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-section p {
    font: 1.2rem;
    margin-bottom: 20px;
}

.hero-section .btn-primary {
    background-color: #64ffda;
    border: none;
    color: #0a192f;
}

.hero-section .btn-primary:hover {
    background-color: #52cbbf;
    color: #0a192f;
}

@media (max-width: 768px) {
    .hero-section {
        text-align: center;
    }

    .hero-section .col-lg-6 {
        margin: 0 auto;
    }
}


.about-section {
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}
 */
